
.container {
    max-width: 90%;
}


@media only screen and (max-width: 990px) {
    main{
        font-size: clamp(2em, 0em + 2vw, 1em)!important;
    }

    
    
    .card-parte-1{
        width: 100%!important;
        max-width: 100%!important;
        flex: 0 0 100%;
        margin-bottom: 15px;
    }
    
    .cont-titulo{
        width: 55%!important;
        max-width: 55%!important;
        flex: 0 0 55%;
        margin-left: 22%;
        margin-bottom: 25px;
    }
    
    .barra-pesquisa{
        width: 50%!important;
        max-width: 50%!important;
        flex: 0 0 50%;
        margin-bottom: 25px;   
    }
    
    .form-control{
        height: calc(2.5em + .75rem + 2px);
        font-size: xx-large;
    }
    
    .cont-titulo{
        text-align: center
    }
    
    .titulo{
        text-align: center
    }
    
    .txt-bd{
        font-size: 3rem;
    }
    
    
    .icones {
        font-size: 75px;
    }
    
    .tabela-eventos{
        max-height: 50vh;
    }
    
    .card-title{
        font-size: 3rem!important;
    }
    p>*, #qtdTotalHorasTrabalhadas{
        font-size: 2.8rem!important;
    }
    
    .card-temp{
        width: 80%!important;
        max-width: 80%!important;
        flex: 0 0 80%;
        padding: 15px;
        margin-bottom: 15px;
    }
    
    #btnGeraRelatorio{
        height: 100px;
        width: 300px;
        margin-left: 15px;
        font-size: 2rem;
    }
    
}